@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*Fonts*/
/*Colors*/
/*Sizes*/
@media screen and (min-width: 1440px) {
  .box-text__btn {
    width: 12.5rem;
    height: 3.438rem;
    border: none;
    border-radius: 2rem;
    color: #674baf;
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer; }
    .box-text__btn:hover {
      background-color: #e882e8;
      color: white; } }

* {
  border: 0%;
  margin: 0%;
  padding: 0%; }

.bg {
  height: 100vh; }
  @media screen and (min-width: 1440px) {
    .bg {
      background-image: url(../images/bg-desktop.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #674baf; } }
  @media screen and (min-width: 320px) and (max-width: 400px) {
    .bg {
      background-image: url(../images/bg-mobile.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-color: #674baf; } }

.header {
  width: 100vw; }
  @media screen and (min-width: 1440px) {
    .header__logo {
      width: 12.5rem;
      margin: 4.063rem 0 0 5rem; } }
  @media screen and (min-width: 320px) and (max-width: 400px) {
    .header__logo {
      width: 6.25rem;
      margin: 20px 0 0 25px; } }

@media screen and (min-width: 1440px) {
  .sec {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; } }

@media screen and (min-width: 320px) and (max-width: 400px) {
  .sec {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; } }

@media screen and (min-width: 1440px) {
  .box-image {
    width: 53.45vw; }
    .box-image__img {
      width: 43.5rem;
      margin: 6.563rem 0 0 5rem; } }

@media screen and (min-width: 320px) and (max-width: 400px) {
  .box-image__img {
    width: 100%;
    margin: 0 25px; } }

@media screen and (min-width: 1440px) {
  .box-text {
    width: 46.55vw;
    margin: 0 0 0 3.75rem; }
    .box-text__title {
      font-family: "Poppins", sans-serif;
      font-size: 2.5rem;
      font-weight: 700;
      color: white;
      width: 541px;
      margin-bottom: 2.5rem; }
    .box-text__paragraph {
      font-family: "Open Sans", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.6;
      width: 520px;
      color: white;
      margin-bottom: 1.563rem; } }

@media screen and (min-width: 1440px) {
  .footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    height: 8.2vh;
    gap: 15px;
    margin: 27px 80px 40px 0; }
    .footer a {
      font-size: 20px;
      color: white;
      height: 25px;
      width: 25px;
      border: 2px solid white;
      border-radius: 50%;
      text-align: center;
      padding: 7px 4px 0 4px;
      cursor: pointer; }
      .footer a:hover {
        color: #e882e8;
        border: 3px solid #e882e8; } }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }
