@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*Fonts*/
/*Colors*/
* {
  border: 0%;
  margin: 0%;
  padding: 0%; }

.bg {
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #674baf; }

.wrapper {
  height: 100vh; }

.header .header__logo {
  margin: 5rem 0 0 5rem;
  width: 12rem; }

.sec {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

.box-image {
  width: 52.8vw; }
  .box-image .box-image__img {
    margin: 5.938rem 0 0 5rem;
    width: 66rem; }

.box-text {
  width: 48.2vw; }
  .box-text .box-text__title {
    margin: 0 0 2.688rem 7.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: white;
    width: 33.438rem; }
  .box-text .box-text__paragraph {
    margin: 0 0 1.875rem 7.813rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.8;
    width: 39.063rem;
    color: white; }
  .box-text .box-text__btn {
    margin: 0 0 0 7.5rem;
    width: 15.625rem;
    height: 3.5rem;
    border: none;
    border-radius: 2rem;
    color: #674baf;
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer; }
    .box-text .box-text__btn:hover {
      background-color: #e882e8;
      color: white; }

.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 35px;
  margin: 0 200px 40px 0; }
  .footer .fa-brands {
    font-size: 24px;
    color: white; }
  .footer .fa-brands::after {
    content: ' ';
    position: absolute;
    height: 40px;
    width: 40px;
    bottom: 40px;
    right: 9.4%;
    margin-right: 100px;
    border: 3px solid white;
    border-radius: 2rem; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }
