@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import 'utilities/mixin';
@import 'utilities/variables';
@import 'components/buttons';

*{
    border: 0%;
    margin: 0%;
    padding: 0%;
}

.bg{
    @include mobile{
        background-image: url(../images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: $violet;
    }
}

.header{
    &__logo{
        width: 140px;
        margin: 30px 25px 70px 30px;
    }
}

.sec{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100vw;
}

.box-image{
    margin: 0 30px 70px 30px;
    &__img{
        width: 100%;
    }
}

.box-text{
    margin: 0px 30px 0 30px;
    text-align: center;
    &__title{
        font-family: $font-heading;
        color: $white;
        font-size: 28px;
        margin-bottom: 30px;
    }
    &__paragraph{
        font-family: $font-body;
        color: $white;
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 25px;
    }
    &__btn{
        width: 200px;
        height: 40px;
        border: none;
        border-radius: 2rem;
        color: $violet;
        font-family: $font-body;
        font-size: 14px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        &:hover,&:focus{
            background-color: $soft-magenta;
            color: $white;
            
        }
    }
}

.footer{
    display: flex;
    justify-content: center;
    margin: 75px 0;
    &__items{
        a{
            padding: 5px 2px 0 2px ;
            content: '';
            width: 25px;
            height: 25px;
            border: 2px solid $white;
            border-radius: 2rem;
            text-align: center;
            font-size: 18px;
            color: $white;
            &:hover,&:focus{
                color: $soft-magenta;
                border-color: $soft-magenta;
            }
        }
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    a { 
        color: hsl(228, 45%, 44%); 
    }
}
